---
import type { Section } from "@/types";
import type { TypeOf } from "astro:schema";
import CustomButton from "../CustomButton.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryCTM } from "@/lib/contentParser.astro";
import type { aboutSectionSchema } from "@/sections.schema";
import overrideObjects from "@/lib/utils/overrideObjects.ts";
import OptimizedImage from "../utilities/OptimizedImage.astro";

// Type
type SectionType = Section & TypeOf<typeof aboutSectionSchema>;
type Props = {
  content?: SectionType;
};

// Default content fetch
let defaultContent = (
  await getEntryCTM("sections", "about-us", Astro.currentLocale)
)?.data as SectionType;

let actualContent = overrideObjects(
  { ...defaultContent },
  Astro.props.content,
) as SectionType;

let {
  enable = true,
  title,
  description,
  image,
  images,
  ctaBlock,
} = actualContent as SectionType;

if (!enable) return;
---

<section class="overflow-hidden">
  <div class="container space-y-16 md:space-y-32">
    <div class="flex flex-col items-center justify-center space-y-16">
      <div class="space-y-10">
        {
          title && (
            <div class="text-center">
              <h1
                data-aos="fade-down-sm"
                class="has-italic-text text-dark mb-6 text-center text-5xl leading-[1.15] font-normal capitalize md:mb-7 md:text-6xl lg:text-7xl"
                set:html={markdownify(title)}
              />
            </div>
          )
        }

        {
          description && (
            <p
              class="text-dark [&_strong]:text-dark mx-auto max-w-xl text-center text-lg/normal [&_strong]:font-bold"
              data-aos="fade-up-sm"
              data-aos-delay="200"
              set:html={markdownify(description)}
            />
          )
        }
      </div>

      {
        images && images.length > 0 && (
          <div
            class="relative flex w-full flex-wrap items-end justify-center gap-12 py-8 sm:gap-16 lg:gap-24"
            data-aos="fade-up-sm"
            data-aos-delay="100">
            {image && (
              <OptimizedImage
                class="absolute top-1/2 left-1/2 -z-10 w-full max-w-4xl -translate-x-1/2 -translate-y-[60%] object-contain opacity-50"
                src={image}
                alt="World Map Background"
              />
            )}
            {images.map((img) => (
              <div class="flex flex-col items-center">
                <OptimizedImage
                  class="w-32 transition-transform duration-300 hover:-translate-y-2 sm:w-40 lg:w-48"
                  src={img}
                  alt="Location"
                />
              </div>
            ))}
          </div>
        )
      }

      <div
        class="mx-auto max-w-4xl space-y-8 text-center"
        data-aos="fade-up-sm"
        data-aos-delay="200">
        {
          ctaBlock && ctaBlock.description && (
            <p
              class="text-text-default [&_strong]:text-dark mx-auto max-w-3xl text-lg md:text-xl [&_strong]:font-bold"
              set:html={markdownify(ctaBlock.description)}
            />
          )
        }

        {
          ctaBlock && ctaBlock.buttons && ctaBlock.buttons.length > 0 && (
            <div class="flex flex-wrap items-center justify-center gap-4 pt-6">
              {ctaBlock.buttons.map((btn) => (
                <CustomButton {...(btn as any)} />
              ))}
            </div>
          )
        }
      </div>
    </div>
  </div>
</section>
