---
import type { Section } from "@/types";
import CustomButton from "../CustomButton.astro";
import { getEntryCTM } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import AnimatedText from "../widgets/AnimatedText.astro";
import overrideObjects from "@/lib/utils/overrideObjects.ts";
import OptimizedImage from "../utilities/OptimizedImage.astro";

// Type for this section data
type SectionType = Section & {
  shape?: string;
  background?: string;
  mobilePreview?: string;
  mobileFrame?: string;
  stats?: {
    title: string;
    description: string;
    avatars: string[];
  };
};

type Props = {
  content?: SectionType;
};

// Fetching the default content for the this section
let defaultContent = (
  await getEntryCTM("sections", "call-to-action", Astro.currentLocale)
)?.data as SectionType;

// Enables content customization (e.g., title, description) with a fallback to 'defaultContent' if not provided.
// The 'content' prop should match the structure of 'defaultContent'.
// Allows using this section with different content across multiple pages.
// If 'content' is missing, 'defaultContent' will be used.
let actualContent = overrideObjects(
  { ...defaultContent },
  Astro.props.content,
) as SectionType;

// Extracting required values from 'content' object
let {
  enable = true,
  title,
  background,
  mobilePreview,
  mobileFrame,
  shape,
  stats,
  description,
  button,
} = actualContent as SectionType;

if (!enable) return;
---

<section class="call-to-action overflow-hidden pb-12">
  <div class="container">
    <div
      class="bg-theme-light relative z-0 flex flex-col items-center justify-between gap-10 overflow-hidden rounded-4xl px-8 py-16 text-center md:flex-row md:text-left lg:px-20 lg:py-20">
      <!-- Background Elements -->
      <OptimizedImage
        class="pointer-events-none absolute -bottom-32 -left-32 -z-10 h-128 opacity-70 mix-blend-multiply select-none"
        src="/images/bannerGradient.svg"
      />
      <OptimizedImage
        class="pointer-events-none absolute -top-32 -right-32 -z-10 h-128 opacity-70 mix-blend-multiply select-none"
        src="/images/bannerGradientTwo.svg"
      />
      <OptimizedImage
        class="pointer-events-none absolute top-1/2 left-1/2 -z-10 h-[200%] min-w-max -translate-x-1/2 -translate-y-1/2 opacity-[0.05] select-none"
        alt="Vector"
        src="/images/line.svg"
      />

      <div class="z-10 w-full max-w-2xl flex-1 space-y-6">
        {
          title && (
            <AnimatedText
              class="has-italic-text leading-[1.15] font-normal capitalize"
              tag="h2"
              delay={0.2}
              stagger={0.09}
              content={markdownify(title)}
            />
          )
        }
        {
          description && (
            <p
              class="text-lg/normal"
              data-aos="fade-down-sm"
              data-aos-delay="300"
              set:html={markdownify(description)}
            />
          )
        }
        {
          button && button.enable && (
            <div class="pt-4" data-aos="fade-down-sm" data-aos-delay="400">
              <CustomButton class="btn-primary" {...button} />
            </div>
          )
        }
      </div>

      {
        stats &&
          (stats.title ||
            (stats.avatars && stats.avatars.length > 0) ||
            stats.description) && (
            <div
              class="z-10 flex max-w-sm flex-col items-center text-center md:items-start md:pl-8 md:text-left"
              data-aos="reveal-anim-down">
              <div class="flex flex-wrap items-center justify-center gap-4 md:justify-start">
                {stats.title && <h3 class="h2">{stats.title}</h3>}
                {stats.avatars && stats.avatars.length > 0 && (
                  <div class="flex -space-x-3">
                    {stats.avatars.map((src) => (
                      <OptimizedImage
                        src={src}
                        alt="user"
                        class="h-14 w-14 rounded-full border-4 border-white object-cover shadow-sm"
                      />
                    ))}
                  </div>
                )}
              </div>
              {stats.description && (
                <p
                  class="mt-4 text-sm font-medium"
                  set:html={markdownify(stats.description)}
                />
              )}
            </div>
          )
      }
    </div>
  </div>
</section>
