---
import type { Section } from "@/types";
import ContactForm from "../widgets/ContactForm.astro";
import { getEntryCTM } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import overrideObjects from "@/lib/utils/overrideObjects.ts";
import type { contactSectionSchema } from "@/sections.schema";
import type { TypeOf } from "astro:schema";
import OptimizedImage from "../utilities/OptimizedImage.astro";
import Icons from "@/helpers/Icons.astro";

type ContactSection = Section & TypeOf<typeof contactSectionSchema>;

type Props = {
  content?: ContactSection;
};

let defaultContent = (
  await getEntryCTM("sections", "contact-section", Astro.currentLocale)
)?.data as ContactSection;

let actualContent = overrideObjects(
  { ...defaultContent },
  Astro.props.content,
) as ContactSection;

let { enable = true, testimonial, title, form, list } = actualContent;
const rating = new Array(5).fill(null);

if (!enable) return null;
---

<section class="relative">
  <div class="container">
    <div
      class="flex flex-col justify-start gap-x-20 gap-y-10 lg:grid lg:grid-cols-12">
      <div class="flex w-full flex-col lg:col-span-5" data-aos="fade-right-sm">
        <div class="mb-10">
          {
            title && (
              <h2
                class="has-italic-text capitalize"
                set:html={markdownify(title)}
              />
            )
          }
        </div>
        {
          testimonial?.enable && (
            <div class="relative mt-auto">
              <div class="translate-x-centered absolute bottom-5 w-[90%] rounded-lg bg-white/95 p-4 backdrop-blur-lg">
                <div class="inline-flex">
                  {rating.map((_) => (
                    <svg
                      class="h-5 w-5 fill-current text-yellow-500"
                      viewBox="0 0 20 20"
                      fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
                  ))}
                </div>
                {testimonial.content && (
                  <blockquote
                    class="leading-relaxed"
                    set:html={markdownify(testimonial.content)}
                  />
                )}
              </div>

              {testimonial.customer.avatar && (
                <OptimizedImage
                  src={testimonial.customer.avatar}
                  alt={testimonial.customer.name}
                  class="h-110 w-full rounded-3xl object-cover"
                />
              )}
            </div>
          )
        }
      </div>
      {form && <ContactForm class="col-span-7" form={form} />}
    </div>
  </div>
  <!-- https://preline.co/docs/select.html -->
  <script>
    import {
      formspreeSubmit,
      netlifySubmit,
      formSubmit,
      isFormFilled,
      setMessage,
      validateSelectTag,
    } from "@/lib/utils/FormHandle";

    document.addEventListener("DOMContentLoaded", () => {
      const form = document.getElementById(
        "contact-form",
      ) as HTMLFormElement | null;

      let selectTags = form?.querySelectorAll(
        "[input-wrapper]:not(.hidden) select[data-hs-select]",
      ) as NodeListOf<HTMLSelectElement>;

      selectTags.forEach((tag) => {
        tag.addEventListener("change", () => {
          // Ensure only visible select tag value should submitted
          selectTags.forEach((tag) => {
            const name = tag.getAttribute("data-name");
            tag.setAttribute("name", name || "");
          });

          validateSelectTag(tag);
        });
      });

      form?.addEventListener("submit", async (e: Event) => {
        e.preventDefault();

        const provider = form?.getAttribute("data-provider") || "";
        const action = form?.getAttribute("data-action") || "";

        selectTags = form?.querySelectorAll(
          "[input-wrapper]:not(.hidden) select[data-hs-select]",
        ) as NodeListOf<HTMLSelectElement>;

        // Validate all preline select tags
        selectTags.forEach(validateSelectTag);

        if (isFormFilled(form)) {
          // Console.log form data for debugging
          // const formData = Object.fromEntries(new FormData(form).entries());
          // console.log(
          //   Object.entries(formData)
          //     .map(([key, value]) => `${key}: ${value}`)
          //     .join("\n\n"),
          // );

          setMessage("Form Submitting!...", true, true, form);

          try {
            switch (provider) {
              case "netlify":
                await netlifySubmit(form, action);
                break;
              case "formsubmit.co":
                await formSubmit({
                  form,
                  action,
                });
                break;
              case "formspree":
                await formspreeSubmit(
                  Object.fromEntries(new FormData(form).entries()),
                  5000,
                  form,
                );
                break;
              default:
                throw new Error("Unknown form provider.");
            }
          } catch (error) {
            setMessage(
              error +
                "! Please use this mail - [finzo-astro-theme@gmail.com](mailto:finzo-astro-theme@gmail.com) to submit a ticket!",
              false,
              false,
              form,
            );
          }
        }
      });
    });
  </script>
</section>
<section>
  <div class="container">
    {
      list && (
        <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3 lg:gap-16">
          {list.map((item, index) => (
            <div
              class="bg-theme-light space-y-4 rounded-xl px-5 py-16 text-center"
              data-aos="fade-up-sm"
              data-aos-delay={(index + 100) * 100}>
              {item.icon && (
                <div class="mx-auto mb-6 flex h-14 w-14 items-center justify-center rounded-2xl bg-white">
                  <svg width="0" height="0" class="absolute">
                    <defs>
                      <linearGradient
                        id="paint0_linear_16965_13074"
                        x1="14.8748"
                        y1="1.41699"
                        x2="14.8748"
                        y2="26.917"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="var(--color-primary)" />
                        <stop offset="1" stop-color="white" />
                      </linearGradient>
                    </defs>
                  </svg>

                  <Icons
                    icon={item.icon as any}
                    class="mx-auto block h-8 w-8 text-blue-500 [&_path]:stroke-[url(#paint0_linear_16965_13074)]"
                  />
                </div>
              )}
              {item.title && (
                <h3 class="h5 mb-4" set:html={markdownify(item.title)} />
              )}
              {item.description && (
                <p set:html={markdownify(item.description)} />
              )}
            </div>
          ))}
        </div>
      )
    }
  </div>
</section>
