---
import type { z } from "astro:schema";
import type { Section } from "@/types";
import Icons from "@/helpers/Icons.astro";
import CustomButton from "../CustomButton.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryCTM } from "@/lib/contentParser.astro";
import overrideObjects from "@/lib/utils/overrideObjects.ts";
import OptimizedImage from "../utilities/OptimizedImage.astro";
import type { featuresSectionThreeSchema } from "@/sections.schema";

// Type for this section data
type sectionType = Section &
  NonNullable<z.infer<typeof featuresSectionThreeSchema>>;

type Props = {
  content?: sectionType;
  class?: string;
  variant?: "white" | "grey";
};

// Fetching the default content for the this section
let defaultContent = (
  await getEntryCTM("sections", "features-section-four", Astro.currentLocale)
)?.data as sectionType;

// Enables content customization (e.g., title, description) with a fallback to 'defaultContent' if not provided.
// The 'content' prop should match the structure of 'defaultContent'.
// Allows using this section with different content across multiple pages.
// If 'content' is missing, 'defaultContent' will be used.
let actualContent = overrideObjects(
  { ...defaultContent },
  Astro.props.content,
) as sectionType;

// Extracting required values from 'content' object
let { enable = true, items } = actualContent as sectionType;

const { class: ClassName, variant = "white" } = Astro.props;

if (!enable) return;
---

<section class:list={[ClassName, variant === "grey" && "bg-theme-light", "py-20 md:py-32"]}>
  <div class="container space-y-20">
    {
      items.map((item, index) => (
        <div
          class:list={[
            "mx-auto grid max-w-6xl grid-cols-1 place-items-center gap-10 md:gap-20 lg:grid-cols-2",
            item.imagePosition === "right" && "lg:*:first:order-2",
            item.imagePosition === "right"
              ? "justify-items-end"
              : "justify-items-start",
          ]}>
          <div
            data-aos={index % 2 === 0 ? "fade-left-sm" : "fade-right-sm"}
            data-aos-delay={index % 2 === 0 ? 200 : 250}
            class="relative flex items-center justify-center overflow-hidden">
            <OptimizedImage
              src={item.image}
              alt={item.title}
              height={item.imageHeight || 600}
            />


          </div>

          <div class="space-y-10">
            {item.title && (
              <div class="mb-5 space-y-4 md:mb-10">
                <h2
                  class="has-italic-text h3 capitalize"
                  set:html={markdownify(item.title)}
                />
                {item.description && (
                  <p set:html={markdownify(item.description)} />
                )}
              </div>
            )}
            {item.stats && (
              <div class="flex gap-5">
                {item.stats.map((stat) => (
                  <div class="space-y-2 border-s border-dashed ps-5">
                    {stat?.value && (
                      <h3
                        class="h6 font-medium"
                        set:html={markdownify(stat?.value)}
                      />
                    )}
                    {stat?.label && <p set:html={markdownify(stat?.label)} />}
                  </div>
                ))}
              </div>
            )}

            {item.features && (
              <ul class="space-y-4">
                {item.features.map((feature) => (
                  <li class="flex items-center gap-3">
                    <div class="bg-primary/5 flex h-5 w-5 items-center justify-center rounded-full">
                      <Icons
                        class="text-primary stroke-3 text-xs"
                        icon="Check"
                      />
                    </div>
                    {feature && <span set:html={markdownify(feature)} />}
                  </li>
                ))}
              </ul>
            )}

            {item.button && <CustomButton {...item.button} />}
          </div>
        </div>
      ))
    }
  </div>
</section>
