---
import type { TypeOf } from "astro:schema";
import type { Section } from "@/types";
import VideoModal from "../widgets/VideoModal.astro";
import { getEntryCTM } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import AnimatedText from "../widgets/AnimatedText.astro";
import overrideObjects from "@/lib/utils/overrideObjects";
import type { heroSectionSchema } from "@/sections.schema";
import CustomButton from "@/components/CustomButton.astro";
import HomeBannerCard from "../widgets/HomeBannerCard.astro";
import AnnouncementBar from "../widgets/AnnouncementBar.astro";
import HomeBannerCardTwo from "../widgets/HomeBannerCardTwo.astro";
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";
import Customers from "./Customers.astro";

// Type for this section data
type SectionType = Section & NonNullable<TypeOf<typeof heroSectionSchema>>;

type Props = {
  content?: SectionType;
};

// Fetching the default content for the this section
let defaultContent = (
  await getEntryCTM("sections", "home-banner", Astro.currentLocale)
)?.data as SectionType;

// Enables content customization (e.g., title, description) with a fallback to 'defaultContent' if not provided.
// The 'content' prop should match the structure of 'defaultContent'.
// Allows using this section with different content across multiple pages.
// If 'content' is missing, 'defaultContent' will be used.
let actualContent = overrideObjects(
  { ...defaultContent },
  Astro.props.content,
) as SectionType;

// Extracting required values from 'content' object
let {
  title,
  announcementBar,
  imageFrame,
  leftBlock,
  rightBlock,
  description,
  image,
  buttons,
  gradientLeft,
  gradientRight,
  lineShape,
} = actualContent as SectionType;

const videoButton = buttons?.find((button: any) => button.type === "video");
---

<section class="overflow-hidden">
  <div class="relative container">
    <div>
      <div class="text-20 space-y-10">
        <AnnouncementBar
          content={announcementBar}
          data-aos="reveal-anim-left"
        />

        {
          title && (
            <AnimatedText
              tag="h1"
              duration={0.6}
              stagger={0.07}
              class="has-italic-text mb-6 text-center text-5xl leading-[1.15] font-normal capitalize md:mb-7 md:text-6xl lg:text-7xl"
              content={markdownify(title)}
            />
          )
        }
        {
          description && (
            <AnimatedText
              stagger={0.02}
              duration={0.4}
              delay={0.6}
              content={markdownify(description)}
              class="mx-auto max-w-xl text-center text-lg/normal"
            />
          )
        }
      </div>

      <div
        data-aos="fade-in"
        data-aos-delay="900"
        class="has-video-20 [&_svg]:fill-text-default mt-11 flex flex-wrap items-center justify-center gap-5">
        {
          buttons?.map((button: any) =>
            button.type !== "video" ? (
              <CustomButton {...button} />
            ) : (
              <CustomButton
                {...button}
                class="video-modal-toggle *:opacity-70"
                title="Play Video"
                aria-haspopup="dialog"
                aria-expanded="false"
                aria-controls={"#" + button.video.id}
                data-hs-overlay={"#" + button.video.id}
                data-hs-overlay-options={`{"emulateScrollbarSpace" : true}`}
              />
            ),
          )
        }
      </div>
    </div>

    <!-- Gradient Shapes -->
    {
      gradientLeft && (
        <OptimizedImage
          class="max-md:translate-x-centered absolute bottom-0 -z-10 h-128 opacity-70 md:top-[100px] md:-left-25 md:h-225"
          src={gradientLeft}
        />
      )
    }

    {
      gradientRight && (
        <OptimizedImage
          class="absolute -right-37.5 -z-10 hidden h-175 w-auto md:top-[200px] md:block"
          src={gradientRight}
        />
      )
    }

    {
      videoButton?.enable && (
        <VideoModal
          video={{
            id: videoButton.video?.id,
            src: videoButton.video?.src,
            provider: videoButton.video?.provider,
          }}
        />
      )
    }

    <!-- Line Shapes -->
    {
      lineShape && (
        <OptimizedImage
          class="absolute top-[30%] -left-36 -z-10 h-100 w-212.5 rotate-[-40deg] opacity-15 md:top-[-300px] md:left-[-550px] md:h-300 md:opacity-5"
          alt="Vector"
          src={lineShape}
        />
      )
    }

    <!-- Line Shapes -->
    {
      lineShape && (
        <OptimizedImage
          class="absolute top-[30%] -right-40 -z-10 h-100 w-212.5 rotate-60 opacity-15 md:-top-36 md:-right-134 md:h-280 md:opacity-5"
          alt="Vector"
          src={lineShape}
        />
      )
    }
  </div>
  <Customers
    tag="div"
    class="mx-auto max-w-5xl pt-12 pb-12"
    data-aos="fade-up-sm"
  />
</section>
