---
import { markdownify } from "@/lib/utils/textConverter";
import AnimatedNumber from "@/components/widgets/AnimatedNumber.astro";
import CustomButton from "@/components/CustomButton.astro";
import type { pricingSectionSchema } from "@/sections.schema";
import type { TypeOf } from "astro:schema";
import Icons from "@/helpers/Icons.astro";
import OptimizedImage from "../utilities/OptimizedImage.astro";

type PricingSectionType = TypeOf<typeof pricingSectionSchema>;
type PlanType = NonNullable<PricingSectionType>["list"][number];
type PlansType = NonNullable<PricingSectionType>["plans"];
type ComparisonType = NonNullable<PricingSectionType>["comparison"];

type Props = {
  content: PlanType & {
    comparison?: ComparisonType;
    plans: PlansType;
    index: number;
    layout?: "regular" | "comparison";
  };
  class?: string;
};

const {
  class: className,
  content: {
    index,
    enable,
    name,
    description,
    price,
    featuresLabel,
    icon,
    button,
    plans,
    comparison,
  },
  ...rest
} = Astro.props;

const selectedPlan = plans?.list?.find(
  (plan: { selected: boolean }) => plan.selected,
);

// Get all features from comparison
const allFeatures = comparison?.map((item) => item.list).flat();

// Separate features for desktop (only showInCard: true) and mobile (all features)
const desktopFeatures =
  allFeatures
    ?.sort((a, b) =>
      a.included[index] === b.included[index] ? 0 : a.included[index] ? -1 : 1,
    )
    .filter((feature) => feature.showInCard) || [];

if (!enable) return;
---

<div
  class:list={[
    "text-text-default flex min-h-full flex-col gap-8 rounded-2xl bg-white/50 backdrop-blur-sm transition duration-500",
    className,
  ]}
  {...rest}>
  <div class="relative z-10 flex min-h-full flex-col space-y-5 rounded-3xl p-8">
    {
      icon && (
        <div class="flex h-14 w-14 items-center justify-center rounded-full bg-white">
          <OptimizedImage width={24} src={icon} />
        </div>
      )
    }
    {name && <h3 class="h5 mb-2 font-medium" set:html={markdownify(name)} />}
    {description && <p set:html={markdownify(description)} />}

    <div class="mt-3 mb-5 h-[91px] space-y-5">
      {
        price?.map((item, usageIndex) => (
          <div
            data-plan={item.type.toLowerCase()}
            class:list={[
              "price-wrapper relative gap-1.5 transition-all duration-300",
              {
                active: selectedPlan?.label === item.type,
              },
              {
                hidden: selectedPlan?.label !== item.type && plans?.enable,
              },
              {
                hidden: !plans?.enable && usageIndex !== 0,
              },
            ]}>
            <span class="h2 flex gap-0 font-medium">
              <AnimatedNumber
                class="leading-none"
                animateOn="click"
                transitionTime="1.2s"
                content={item}
              />
            </span>
            {plans?.enable && (
              <p
                class="pricing-type pt-3 text-sm"
                set:html={item.typeAlternateValue}
              />
            )}
          </div>
        ))
      }
    </div>
    <div class="border-t pt-6">
      {
        featuresLabel && (
          <p class="mb-4 font-medium" set:html={markdownify(featuresLabel)} />
        )
      }
      <!-- Features (only showInCard: true) -->
      <ul class="space-y-4 rounded-2xl bg-white px-4 py-6">
        {
          desktopFeatures.map((feature: any) => {
            const featureText = feature?.value;
            const isEnabled = feature.included[index];

            return (
              <li class="relative ps-10">
                <span
                  class:list={[
                    "bg-primary/5 pointer-events-none absolute top-px left-0 me-4 inline-flex h-5 w-5 items-center justify-center rounded-full text-white",
                  ]}>
                  {isEnabled ? (
                    <Icons icon="Check" class="text-primary stroke-2 text-xs" />
                  ) : (
                    <Icons icon="X" class="text-primary/20 text-xs" />
                  )}
                </span>
                <span set:html={markdownify(featureText)} />
              </li>
            );
          })
        }
      </ul>
    </div>

    {button?.enable && <CustomButton class="mt-auto text-center" {...button} />}

    <div
      class="pointer-events-none absolute inset-0 -z-10 size-full opacity-10 blur-3xl select-none md:hidden">
      <OptimizedImage
        width={400}
        class="pointer-events-none absolute top-0 -z-10 opacity-80 select-none"
        src="/images/pricing-blob-2.svg"
      />
    </div>
  </div>
</div>
